.jogo-container {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  height: 70px;
  font-size: 8px;
  font-weight: bold;
  width: 59px;

}
.jogo-container-foot {
  margin-top: -2px;
  font-size: 12px;
}

.jogo-container img {
  margin-top: -5px;  
  width: 30px;
}
.sinalizador {
  width: 7px;
  height: 7px;
  background-color: rgb(9, 161, 9);
  border-radius: 50%;
  position: absolute;
  margin-left: 45px;
  margin-top: 15px;  
}

.sinalizador-red {
  width: 7px;
  height: 7px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  margin-left: 45px;
  margin-top: 15px;  

}

.empate {
  font-size: 32px;
  margin-top: -5px;
  color: gray;
}
