.product-card {
  margin-bottom: 30px;
  text-align: center;
  background-color: #ededed99;

}

.card-top-container {
  padding: 16px 0px;
  text-align: center;
}

.card-top-container img {
  width: 158px;
  height: 158px;
}

.card-bottom-container {
  padding: 15px 10px 30px 20px;
}

.card-bottom-container h6 {
  font-weight: bold;
  font-size: 18px;
  color: #263238;
}

.card-bottom-container p {
  color: #585858;
  font-style: italic;
  text-align: left;
  font-size: 14px;
}
