.home-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 22px;
  height: 96vh;
}

.home-left-container-top-left-top-title {
  display: flex;
}

.home-left-container-top-left-top-title-text {
  font-size: 14px;
  text-align: left;
  font-weight: normal;
}

.home-left-container-top-left-top-title-text h3 {
  padding-bottom: 10px;
}

.home-left-container-top-left-top-title-text h6 {
  font-size: 16px;
  font-weight: normal;
}

.home-left-container-top-left-top-title-text p {
  font-size: 14px;
  font-weight: bold;
}

.home-left-container {
  padding: 0px 10px;
  width: 100%;
  max-width: 970px;
  height: 100%;
  margin: 5px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-right-container {
  padding: 10px 0px;
  width: 300px;
  height: 100%;
  margin: 5px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.home-right-container-top {
  
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
  
}

.home-right-container-title {
  display: flex;
  text-align: left;
  font-size: 12px;
  height: 0px;
  padding-left: 25px;
}

.home-right-container-title div {
  padding-right: 25px;
  font-weight: bold;
}

.home-left-container-top {
  display: flex;
  padding: 10px;
}

.home-left-container-top-left {
  font-size: 28px;
  font-weight: bold;
  width: 100%;
}

.home-left-container-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-left-container-top-left-top {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}
.home-left-container-top-left-area {
  display: flex;
  flex-direction: column;
}
.container-item-nova-aposta {
  width: 300px;
  height: 60px;
  margin-bottom: 5px;
  border:  1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-item-nova-aposta img {
  width: 40px;
  cursor: pointer;
}

.container-item-nova-aposta-empate {
  font-size: 40px;
  margin-top: -5px;
  cursor: pointer;
}

.container-item-nova-aposta-ordem {
  font-size: 14px;
  width: 0px;
}


.container-item-nova-aposta-palpite {
  font-size: 16px;
  width: 100px;
  text-align: end;
  color: darkblue;
  height: 60px;
  margin-bottom: 5px;
  border:  1px solid black;
  padding: 17px;
  
}

.big-container {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: flex-start;
}