.main-nav {
  background-color: #004346;
}
.logo{
  display: flex;
  align-items: center;
}

.icone {
  font-size: 30px;
  padding: 5px;
  width: 30;
  color: #E6F8B2;
}
.nav-logo-text,
.nav-logo-text:hover {
  color: #F2FBE0;
}

.nav-logo-text h4 {
    font-size: 36px;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 450px;
  justify-content: space-between;
}

.main-menu a {
  color: #fff;
}

.main-menu a:hover {
  color: #fff;
}

.main-menu a.active {
  color: #fff;
  font-weight: bold;
}

.main-nav {
  min-height: 70px;
  padding-left: 40px;
}
